BODY{
	BACKGROUND: #B6FF00 URL('fondo.jpg') repeat;
}
TABLE, TH, TD {
  border: 3px solid black;
  BORDER-COLOR:white ;
  font-size:24px;
  color:blak;
  text-align:center;
}
CAPTION{
	COLOR:Black;
	Font-size:24px;
}
#CONTENEDOR{
	WIDTH:80%;
	HEIGHT:100%;
	BACKGROUND-COLOR:lightgray;
	MARGIN: 0PX AUTO 0PX AUTO;
	PADDING: 5PX;
	BORDER-STYLE:SOLID;
	BORDER-COLOR:WHITE;
	BORDER-RADIUS:20PX;	
}
.CONTAINER{
	OVERFLOW:HIDDEN;
	BACKGROUND-COLOR:#FCBA63;
	FONT-FAMILY:ARIAL;
}
.CONTAINER A{
	FLOAT:LEFT;
	FONT-SIZE:16PX;
	COLOR:WHITE;
	TEXT-ALIGN:CENTER;
	PADDING:14PX 16PX;
	TEXT-DECORATION:NONE;
}
.CONTAINER A:HOVER, #NAVEGATION{
	BACKGROUND-COLOR: #aeb5b5;
	COLOR:#000000;
	FONT:BOLD;
	FONT-SIZE:20PX;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
