.CONTAINER{
	OVERFLOW:HIDDEN;
	BACKGROUND-COLOR:#FCBA63;
	FONT-FAMILY:arial;
	
}
.CONTAINER A{
	FLOAT:LEFT;
	FONT-SIZE:16PX;
	COLOR:WHITE;
	TEXT-ALIGN:CENTER;
	PADDING:14PX 16PX;
	TEXT-DECORATION:NONE;

}
.CONTAINER A:HOVER, #NAVEGATION{
	BACKGROUND-COLOR: #75BF44;
	COLOR:#F04D50;
	FONT:BOLD;
	FONT-SIZE:20PX;
	border-right: 1px solid #FFFFFF;
}
